body {
    margin: 0;
    background-color: #F6EAEA;
    overflow: hidden;
}

.scene {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.scene img {
    position: absolute;
}

.regal {
    width: 380px;
    left: 80px;
    bottom: 235px;
    z-index: 2;
}

.pflanze {
    width: 100px;
    top: 50px;
    left: 30%;
    z-index: 4;
}

.pinnwand {
    width: 400px;
    right: 150px;
    top: 75px;
    z-index: 1;
}

.lebenslauf {
    width: 90px;
    right: 420px;
    top: 100px;
    z-index: 3;
}

.uni {
    width: 200px;
    right: 170px;
    top: 235px;
    z-index: 3;
}

.screen {
    width: 310px;
    left: 45%;
    bottom: 220px;
    z-index: 2;
}

.line {
    position: absolute;
    left: 0;
    right: 0;
    top: 59%;
    height: 2px;
    background-color: #3a3333;
    z-index: 0;
}

.tisch {
    position: absolute;
    left: 590px;
    right: 430px;
    bottom: 213px;
    height: 8px;
    background-color: rgba(113, 76, 57, 0.6);
    border-radius: 10px;
    z-index: 1;
}
